section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 600px;
    margin-bottom: 25vh;

    .calculator-header {
        width: 95%;
        background-color: var(--bg-panel2);
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        border: 1px solid var(--color-border);
        
        .position {
            position: relative;
            width: 95%;
            
            > span {
                display: flex;
                border: 1px solid var(--color-border);
                width: 100%;
                border-radius: 5px 5px 0 0;
                padding: 20px;
                height: 50px;
                margin-bottom: 10px;
                background-color: var(--bg-panel2);
            }
    
            > div {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                user-select: none;
                position: absolute;
                bottom: -45px;
    
                span {
                    display: flex;
                    width: 24.2%;
                    height: 50px;
                    background-color: var(--color-border);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #333;
                    border: 1px solid var(--color-border);
                }
                
                #delete-button {
                    background-color: var(--bg-color);
                }
            } 
        }
    }

    form {
        width: 100%;
        background-color: var(--bg-panel);
        padding: 50px;
        border-radius: 5px;
        border: 1px solid var(--color-border);
    
        > div {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 20px;
    
            label {
                font-size: 0.9rem;
                color: var(--color-text);
            }
    
            input {
                border: 1px solid var(--color-border);
                color: var(--color-text);
                padding: 10px;
                border-radius: 5px;
                outline-color: var(--color-primary);
            }
        }
    
        input[type="submit"] {
            color: var(--color-text);
            width: 100%;
            padding: 10px;
            border: 1px solid var(--color-border);
            background-color: transparent;
            border-radius: 5px;
            cursor: pointer;
    
            &:hover {
                transition: 1s;
                color: var(--color-primary);
                border: 1px solid var(--color-primary);
            }
    
            &:active {
                transition: 1ms;
                opacity: 30%;
            }
        }
    }
}
