section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 600px;
  margin-bottom: 25vh;
}
@media only screen and (max-width: 800px) {
  section {
    width: 95%;
    margin-bottom: 0;
    margin-top: 30px;
  }
}
section .calculator-header {
  width: 95%;
  background-color: var(--bg-panel2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  border: 1px solid var(--color-border);
}
section .calculator-header .position {
  position: relative;
  width: 95%;
}
section .calculator-header .position > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--color-border);
  width: 100%;
  border-radius: 5px 5px 0 0;
  padding: 20px;
  height: 60px;
  margin-bottom: 10px;
  background-color: var(--bg-panel2);
  color: var(--color-text);
  font-size: 0.75rem;
}
section .calculator-header .position > div:nth-child(1) span {
  display: flex;
  gap: 5px;
}
section .calculator-header .position > div:nth-last-child(1) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  bottom: -45px;
}
section .calculator-header .position > div:nth-last-child(1) span {
  display: flex;
  width: 24.2%;
  height: 50px;
  background-color: var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  border: 1px solid var(--color-border);
}
@media only screen and (max-width: 800px) {
  section .calculator-header .position > div:nth-last-child(1) span {
    width: 23.5%;
  }
}
section .calculator-header .position > div:nth-last-child(1) #delete-button {
  background-color: var(--bg-color);
}
section form {
  width: 100%;
  background-color: var(--bg-panel);
  border-radius: 5px;
  padding: 50px;
  border: 1px solid var(--color-border);
}
@media only screen and (max-width: 800px) {
  section form {
    padding: 30px;
  }
}
section form > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
section form > div label {
  font-size: 0.9rem;
  color: var(--color-text);
}
section form > div input {
  border: 1px solid var(--color-border);
  color: var(--color-text);
  padding: 10px;
  border-radius: 5px;
  outline-color: var(--color-primary);
}
section form input[type=submit] {
  color: var(--color-text);
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-border);
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}
section form input[type=submit]:hover {
  transition: 1s;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
section form input[type=submit]:active {
  transition: 1ms;
  opacity: 30%;
}

:root {
  --color-primary: #00a1ff;
  --bg-color: #f7f7f7;
  --bg-color2: #f2f2f2;
  --bg-panel: #fff;
  --bg-panel2: #fcfcfc;
  --color-text: #808080;
  --color-border: #8080802e;
}

#__next {
  width: 100%;
  display: flex;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 800px) {
  body {
    align-items: flex-start;
  }
}/*# sourceMappingURL=globals.css.map */